<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список багов</title>
</head>
<body>
<h2>Список багов</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Приоритет</th>
        <th>Статус</th>
        <th>Дата создания</th>
        <th>Дата обновления</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bug, iterStat : ${bugs}">
        <td th:text="${bug.id}"></td>
        <td th:text="${bug.title}"></td>
        <td th:text="${bug.description}"></td>
        <td th:text="${bug.priority}"></td>
        <td th:text="${bug.status}"></td>
        <td th:text="${bug.createdAt}"></td>
        <td th:text="${bug.updatedAt}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>