<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма</title>
</head>
<body>
<h2>Заполните форму</h2>
<form th:action="@{/bug/save}" th:object="${taskDto}" method="post">
    <label>Заголовок: <input type="text" th:field="*{title}"/></label><br/>
    <label>Описание: <input type="text" th:field="*{description}"/></label><br/>

    <label>Приоритет:
        <select th:field="*{priority}">
            <option th:each="p : ${priorities}" th:value="${p}" th:text="${p}"></option>
        </select>
    </label><br/>

    <button type="submit">Отправить</button>
</form>
</body>
</html>